<div class="elevated_card">
    <h4>Create device</h4>
    <div class="form_container">
        <form method="POST">
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_name</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_name" />
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_topic</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_topic" />
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_description</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_description" />
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_type</label>
                </div>
                <div class="form_col-75">
                    <select id="device_type" name="device_type">
                        <option value="actuator">actuator</option>
                        <option value="sensor">sensor</option>
                    </select>
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <input type="submit" value="Отправить" />
                </div>
                <div class="form_col-75">

                </div>
            </div>
            {{!--  --}}


        </form>
    </div>
</div>