<div class="elevated_card">
    <h4>Список устройств</h4>
    <div class="device_row">
        {{#each devices}}
        <div class="device_column">
            <div class="outlined_card {{this.device_type}}">
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">
                        device_name
                    </div> --}}
                    <div class="form_col-75">
                        <p>{{this.device_name}}</p>
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">
                        device_topic
                    </div> --}}
                    <div class="form_col-75">
                        <p>{{this.device_topic}}</p>
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">
                        device_type
                    </div> --}}
                    <div class="form_col-75">
                       <p>{{this.device_type}}</p> 
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">
                        device_type
                    </div> --}}
                    <div class="form_col-75">
                        <p>{{this.device_description}}</p>
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">
                        device_type
                    </div> --}}
                    <div class="form_col-75">
                        <p>{{this.device_room}}</p>
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-50"> --}}
                    <input type="submit" value="Изменить" onClick='location.href="/device/edit/{{this.device_id}}"'>
                    {{!-- </div> --}}
                    {{!-- <div class="form_col-50"> --}}
                    <form action="/device/delete/{{this.device_id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>
                    {{!-- </div> --}}

                </div>
            </div>
            {{!--  --}}



        </div>
        {{/each}}
    </div>
</div>


<script>
    elements_time = document.getElementsByClassName('outlined_card time');
    for (var i = 0; i < elements_time.length; i++) {
        elements_time[i].style.borderColor = "blue";
    }
    elements_guard = document.getElementsByClassName('outlined_card guard');
    for (var i = 0; i < elements_guard.length; i++) {
        elements_guard[i].style.borderColor = "green";
    }
    elements_comfort = document.getElementsByClassName('outlined_card comfort');
    for (var i = 0; i < elements_comfort.length; i++) {
        elements_comfort[i].style.borderColor = "yellow";
    }
</script>