<div class="elevated_card">
    <h4>Изменить устройство</h4>
    <div class="form_container">
        <form action="/device/edit" method="POST">
            <input type="hidden" name="device_id" value="{{device.device_id}}" />

            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_name</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_name" value="{{device.device_name}}" />
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_description</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_description" value="{{device.device_description}}" />
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">device_room</label>
                </div>
                <div class="form_col-75">
                    <input type="text" name="device_room" value="{{device.device_room}}" />
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <input type="submit" value="Отправить" />
                </div>
                <div class="form_col-75">

                </div>
            </div>
            {{!--  --}}


        </form>
    </div>
</div>