<div class="elevated_card">
    <h4>List of devices</h4>
    {{!-- TODO: Добавить именование классов стилей
            DeviceList_deviceTable --}}
    <table id="devices">
        <tr>
            <th>device_name</th>
            <th>device_topic</th>
            <th>device_description</th>
            <th>device_room</th>
            <th>Functions</th>
            <th></th>
        </tr>
        {{#each devices}}
        <tr>
            <td>{{this.device_name}}</td>
            <td>{{this.device_topic}}</td>
            <td>{{this.device_description}}</td>
            <td>{{this.device_room}}</td>
            <td>
                <input type="submit" value="Edit" onClick='location.href="/device/edit/{{this.device_id}}"'>
            </td>
            <td>
                <form action="/device/delete/{{this.device_id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</div>