<div class="elevated_card">
    <h4>Log</h4>
    <table id="logs">
        <tr>
            <th>Client</th>
            <th>Topic</th>
            <th>Type</th>
            <th>Functions</th>
        </tr>
        {{#each sensors}}
        <tr>
            <td>{{this.device_name}}</td>
            <td>{{this.device_topic}}</td>
            <td>{{this.device_type}}</td>
            <td>
                <input type="submit" value="Show {{this.device_id}}"
                    onClick='location.href="/logs/show/{{this.device_id}}"'>
            </td>
        </tr>
        {{/each}}
    </table>
</div>