<div class="elevated_card">
    <h4>Logs of {{device.device_name}}</h4>
    <table id="logs">
        <tr>
            <th>log_value</th>
            <th>log_date</th>
        </tr>
        <tr>
            {{#each values}}

            <td>{{this}}</td>

            {{/each}}
            {{#each datetime}}

            <td>{{this}}</td>

            {{/each}}
        </tr>
    </table>
</div>