<div class="elevated_card">
    <h4>Редактирование сценария</h4>

    <div class="form_container">
        <form action="/script/edit" method="POST">
            <input type="hidden" name="script_id" value="{{script.script_id}}" />

            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_type</label>
                </div>
                <div class="form_col-75">
                    {{!-- // TODO: Не сохраняется --}}
                    <select id="script_type" name="script_type" onchange="myFunction()">
                        <option value="defalut">Выберите тип</option>
                        <option value="datetime">datetime</option>
                        <option value="guard">guard</option>
                        <option value="comfort">comfort</option>
                    </select>
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_description</label>
                </div>
                <div class="form_col-75">
                    <input id="script_description" type="text" name="script_description"
                        value="{{script.script_description}}" />
                </div>
            </div>
            {{!--  --}}
            {{!-- <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_time</label>
                </div>
                <div class="form_col-75">
                    <input id="script_time" type="time" name="script_time" value="{{script.script_time}}">
                </div>
            </div> --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    {{!-- // TODO: Не сохраняется --}}
                    <label for="fname">script_datetime</label>
                </div>
                <div class="form_col-75">
                    <input id="script_datetime" type="datetime-local" name="script_datetime"
                        value="{{script.script_datetime}}">
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                </div>
                <div class="form_col-25">
                    <label for="fname">script_if</label>

                </div>
                <div class="form_col-25">
                    <label for="fname">script_comparison</label>

                </div>
                <div class="form_col-25">
                    <label for="fname">script_if_that</label>
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                </div>
                <div class="form_col-25">
                    <select id="script_if" name="script_if">
                        {{#each sensors}}
                        <option value={{this.device_topic}}>{{this.device_topic}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form_col-25">
                    <select id="script_comparison" name="script_comparison">
                        <option value="more">more</option>
                        <option value="less">less</option>
                        <option value="equally">equally</option>
                    </select>
                </div>
                <div class="form_col-25">
                    <input id="script_if_that" type="text" name="script_if_that" value="{{script.script_if_that}}" />
                </div>
            </div>
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_than</label>
                </div>
                <div class="form_col-75">
                    <select id="script_than" name="script_than">
                        {{#each actuators}}
                        <option value={{this.device_topic}}>{{this.device_topic}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_than_that</label>
                </div>
                <div class="form_col-75">
                    {{!-- // TODO: Не сохраняется --}}
                    <select id="script_than_that" name="script_than_that">
                        <option value="1">Включить</option>
                        <option value="0">Выключить</option>
                    </select>
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <input type="submit" value="Отправить">
            </div>
            {{!--  --}}
        </form>
    </div>
</div>

{{!-- FIXME: Нет выбора в инпутах. --}}


<script>
    function myFunction() {
        var x = document.getElementById("script_type").value;
        // document.getElementById("script_type_value").value = "You selected: " + x;


        // true - отключить, false - включить
        switch (x) {
            case 'defalut':
                document.getElementById("script_datetime").disabled = false;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'datetime':
                document.getElementById("script_datetime").disabled = false;

                document.getElementById("script_if").disabled = true;
                document.getElementById("script_comparison").disabled = true;
                document.getElementById("script_if_that").disabled = true;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'guard':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = true;
                document.getElementById("script_than_that").disabled = true;

                break;
            case 'classic':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'comfort':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = true;
                document.getElementById("script_than_that").disabled = true;


            default:
                break;
        }
    }
</script>