<div class="elevated_card">
    <h4>Список сценариев</h4>


    <link rel="stylesheet" href="/style/style.css">
    <table id="scripts">
        {{#each scripts}}
        <tr>
            <td>{{this.script_description}}</td>
            <td>
                <input type="submit" value="Edit" onClick='location.href="/script/edit/{{this.script_id}}"'>
            
                <form action="/script/delete/{{this.script_id}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            
                <button class="button" data-modal="modal_{{this.script_id}}">
                    <p>Подробнее</p>
                </button>
            </td>
        </tr>
        {{/each}}
    </table>
    {{#each scripts}}
    <div id="modal_{{this.script_id}}" class="modal">
        <div class="modal-content">
            <div class="contact-form">
                <a class="close">&times;</a>
                <h2>{{this.script_description}}</h2>
                {{this.script_id}}
                {{this.script_description}}
                {{this.script_type}}
                {{this.script_datetime}}
                {{this.script_if}}
                {{this.script_comparison}}
                {{this.script_if_that}}
                {{this.script_than}}
                {{this.script_than_that}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    var modalBtns = [...document.querySelectorAll(".button")];
    modalBtns.forEach(function (btn) {
        btn.onclick = function () {
            var modal = btn.getAttribute('data-modal');
            document.getElementById(modal).style.display = "block";
        }
    });

    var closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function (btn) {
        btn.onclick = function () {
            var modal = btn.closest('.modal');
            modal.style.display = "none";
        }
    });

    window.onclick = function (event) {
        if (event.target.className === "modal") {
            event.target.style.display = "none";
        }
    }
</script>