<div class="elevated_card">
    <h4>Список сценариев</h4>
    <div class="script_row">
        {{#each scripts}}
        <div class="script_column">
            <div class="outlined_card {{this.script_type}}">
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25"> --}}
                    <p>{{this.script_description}}</p>
                    {{!-- </div> --}}
                    {{!-- <div class="form_col-75"> --}}

                    {{!-- </div> --}}
                </div>
                {{!--  --}}
                {{!--  --}}
                {{!-- <div class="form_row">
                    <div class="form_col-25">

                    </div>
                    <div class="form_col-75">
                        {{this.script_id}}
                    </div>
                </div> --}}
                {{!--  --}}
                {{!--  --}}
                {{!-- <div class="form_row">
                    <div class="form_col-25">

                    </div>
                    <div class="form_col-75">
                        {{this.script_time}}
                    </div>
                </div> --}}
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25">

                    </div>
                    <div class="form_col-75"> --}}
                    <p>{{this.script_type}}</p>
                    {{!-- </div> --}}
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25"> --}}

                    {{!-- </div> --}}
                    {{!-- <div class="form_col-75"> --}}
                    <p> {{this.script_if}}</p>
                    {{!-- </div> --}}
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    <div class="form_col-25">
                        {{this.script_comparison}}
                    </div>
                    <div class="form_col-75">
                        {{this.script_if_that}}
                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    {{!-- <div class="form_col-25"> --}}
                    {{!-- </div> --}}
                    {{!-- <div class="form_col-75"> --}}
                    <p>{{this.script_than}}</p>
                    {{!-- </div> --}}
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    <div class="form_col-25">
                        <p>{{this.script_than_that}}</p>
                    </div>
                    <div class="form_col-75">

                    </div>
                </div>
                {{!--  --}}
                {{!--  --}}
                <div class="form_row">
                    <input type="submit" value="Изменить" onClick='location.href="/script/edit/{{this.script_id}}"'>
                    <form action="/script/delete/{{this.script_id}}" method="POST" style="display:inline;">
                        <input type="submit" value="Удалить" />
                    </form>
                </div>
            </div>
            {{!--  --}}



        </div>
        {{/each}}
    </div>
</div>


<script>
    elements_time = document.getElementsByClassName('outlined_card datetime');
    for (var i = 0; i < elements_time.length; i++) {
        elements_time[i].style.borderColor = "blue";
    }
    elements_guard = document.getElementsByClassName('outlined_card guard');
    for (var i = 0; i < elements_guard.length; i++) {
        elements_guard[i].style.borderColor = "green";
    }
    elements_comfort = document.getElementsByClassName('outlined_card comfort');
    for (var i = 0; i < elements_comfort.length; i++) {
        elements_comfort[i].style.borderColor = "yellow";
    }
    elements_classic = document.getElementsByClassName('outlined_card classic');
    for (var i = 0; i < elements_classic.length; i++) {
        elements_classic[i].style.borderColor = "purple";
    }

</script>