<div class="elevated_card">
    <h4>Создание сценария</h4>
    {{!-- TODO: Добавить обязательность введения данных --}}
    <div class="form_container">
        <form method="POST">
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">Описание</label>
                </div>
                <div class="form_col-75">
                    <input type="text" id="script_description" name="script_description" />
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">Тип</label>
                </div>
                <div class="form_col-75">
                    <select id="script_type" name="script_type" onchange="myFunction()">
                        <option value="defalut">Выберите тип</option>
                        <option value="classic">Классически</option>
                        <option value="datetime">Время</option>
                        <option value="guard">Безопасность</option>
                        <option value="comfort">Комфорт</option>
                    </select>
                </div>
            </div>
            {{!-- <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">script_time</label>
                </div>
                <div class="form_col-75">
                    <input id="script_time" type="time" name="script_time" value="{{script.script_time}}" />
                </div>
            </div> --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">Время</label>
                </div>
                <div class="form_col-75">
                    <input id="script_datetime" type="datetime-local" name="script_datetime"
                        value="{{script.script_datetime}}" required />
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                </div>
                <div class="form_col-25">
                    <label for="fname">Датчик</label>

                </div>
                <div class="form_col-25">
                    {{!-- script_comparison --}}
                    <label for="fname"></label>

                </div>
                <div class="form_col-25">
                    <label for="fname">Предел</label>
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                </div>
                <div class="form_col-25">
                    <select id="script_if" name="script_if">
                        {{#each sensors}}
                        <option value={{this.device_topic}}>{{this.device_topic}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form_col-25">
                    <select id="script_comparison" name="script_comparison">
                        <option value="more">больше</option>
                        <option value="less">меньше</option>
                        <option value="equally">равно</option>
                    </select>
                </div>
                <div class="form_col-25">
                    <input id="script_if_that" type="text" name="script_if_that" value="{{script.script_if_that}}" />
                </div>
            </div>
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">Исполнительное устройство</label>
                </div>
                <div class="form_col-75">
                    <select id="script_than" name="script_than">
                        {{#each actuators}}
                        <option value={{this.device_topic}}>{{this.device_topic}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{!--  --}}
            {{!--  --}}
            <div class="form_row">
                <div class="form_col-25">
                    <label for="fname">Команда</label>
                </div>
                <div class="form_col-75">
                    <select id="script_than_that" name="script_than_that">
                        <option value="1">Включить</option>
                        <option value="0">Выключить</option>
                    </select>
                </div>
            </div>
            {{!--  --}}
            <div class="form_row">
                <input type="submit" value="Отправить">
            </div>
            {{!--  --}}
        </form>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("script_type").value;
        // document.getElementById("script_type_value").value = "You selected: " + x;


        // true - отключить, false - включить
        switch (x) {
            case 'defalut':
                document.getElementById("script_datetime").disabled = false;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'datetime':
                document.getElementById("script_datetime").disabled = false;

                document.getElementById("script_if").disabled = true;
                document.getElementById("script_comparison").disabled = true;
                document.getElementById("script_if_that").disabled = true;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'guard':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = true;
                document.getElementById("script_than_that").disabled = true;

                break;
            case 'classic':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = false;
                document.getElementById("script_than_that").disabled = false;

                break;
            case 'comfort':
                document.getElementById("script_datetime").disabled = true;

                document.getElementById("script_if").disabled = false;
                document.getElementById("script_comparison").disabled = false;
                document.getElementById("script_if_that").disabled = false;

                document.getElementById("script_than").disabled = true;
                document.getElementById("script_than_that").disabled = true;


            default:
                break;
        }
    }
</script>