<link rel="stylesheet" href="/style/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div id="mySidenav" class="sidenav">
  <div class="container">
    <img style="height:100%">
  </div>

  <div class="navs">

    <div class="card_nav">

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/home.png" />
      <a href="/main"> Главная</a>

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/guest-male--v1.png" />
      <a href="/profile">Профиль</a>


      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/journal.png" />
      <a href="/logs">Лог</a>

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/run-command.png" />
      <a href="/script">Сценарии</a>

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/construction-worker.png" />
      <a href="/test">Test</a>

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/raspberry-pi-zero.png" />
      <a href="/device">Устройства</a>

      <img class="sidenav_icons" src="https://img.icons8.com/color/48/000000/exit.png" />
      <a href="/logout">Выход</a>

      <div href="javascript:void(0)" class="sidenav_closebtn" onclick="closeNav()">&times;</div>

    </div>

  </div>

</div>