/* DARK THEME */

@media (prefers-color-scheme: dark) {
    html {




        /* // grenn_light #8da225 */
        /* // grenn_dark #748b2a */


        
        /* #c8cfdd */
        --main: "white";
        /* #6200ee */
        /* #f47931 */
        --primary: #8da225; 
        --on_primary: #000000;
        /* #3700B3 */
        /* #ffaa5f */
        /* --primary_variant: #c8cfdd; */
        /* #03dac6 */
        /* --secondary: #5e6c7c; */
        /* --on_secondary: #121212; */
        /* --secondary_variant: #c8cfdd; */
        /* // */
        /* --background: #ffffff; */
        /* --on_background: #000000; */
        /* // */
        --surface: #ffffff;
        --on_surface: #000000;
        /* // */
        --error: #b00020;
        --on_error: #ffffff;
        /* TEST */
        --logo: url(../img/logo_light.png);
    }
}

@media (prefers-color-scheme: light) {
    html {
        --main: #121212;
        /* #bb86fc */
        --primary: #131313;
        --on_primary: #ffffff;
        /* #3700b3 */
        /* --primary_variant: #f47931; */
        /* #03dac6 */
        /* --secondary: #5e6c7c; */
        /* --on_secondary: #ffffff; */
        /* #03dac6 */
        /* --secondary_variant: #8594a4; */
        /* // */
        /* --background: #121212; */
        /* --on_background: #ffffff; */
        /* // */
        --surface: #2b2b2b;
        --on_surface: #ffffff;
        /* // */
        --error: #cf6679;
        --on_error: #000000;
        --logo: url(../img/logo_dark.png);
    }
}

/* SFU COLORS */

/* Оранжеый #f47931
Белый #ffffff
Светло серый #c8cfdd
Темно серый #5e6c7c */

/* ------ */