/* Create four equal columns that floats next to each other */
.device_column {
    float: left;
    width: 300px;
    height: 450px;
  }
  
  /* Clear floats after the columns */
  .device_row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .device_column  {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .device_column  {
      width: 100%;
    }
  }