.topnav {
    overflow: hidden;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topnav a {
    float: right;
    display: block;
    color: var(--on_surface);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
    background-color: var(--surface);
    margin: 1%;
    border-radius: 5px;
}

.topnav h2 {
    color: var(--on_surface);
}

.topnav a:hover {
    background-color: var(--primary);
    color: var(--on_primary);
}


.topnav_img {
    text-align: center;
    float: left;
    display: block;
    cursor: pointer;
    width: 50px;
    margin: 1%;
}

.topnav_img:hover {
    text-align: center;
    float: left;
    display: block;
    cursor: pointer;
    background-color: var(--surface);
}

.topnav_title {
    float: left;
    display: block;
    color: var(--on_surface);
    text-align: center;
    text-decoration: none;
    /* padding: 0.5%; */
}

.topnav_functions {
    width: auto;
    float: right;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}