.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  /* transition: width 0.5s; */
  border-radius: 5px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--on_surface);
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-left: 25%;
  /* border: 1px solid #e0e0e0; */
  background-color: var(--surface);
  margin: 15px;
  border-radius: 5px;

}

.sidenav a:hover {
  /* border: none; */
  color: var(--on_primary);
  background-color: var(--primary);
}

.sidenav_closebtn {
  position: absolute;
  top: 45px;
  right: 0px;
  font-size: 70px;
  margin-left: 50px;
  width: 20%;
  text-align: center;
  color: var(--primary);
}

.sidenav_closebtn:hover {
  color: var(--on_primary);
  background-color: var(--primary);
}

.container {
  padding: 15%;
  background-color: var(--surface);
  margin: 15px;
/* border: 1px solid #e0e0e0; */
border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: var(--logo);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.sidenav_icons {
  text-align: center;
  float: left;
  display: block;
  cursor: pointer;
  width: 50px;
  padding-left: 10%;
  margin-top: 5px;
}