#logs {
    border-collapse: collapse;
    width: 100%;
    color: var(--on_primary);
    border-radius: 10px;
    overflow-x: auto;
    /* border: 1px solid #e0e0e0; */
    text-align: center;

}

#logs td, #logs th {
    border: 1px #ddd;
    padding: 8px;
    color: var(--on_surface);
    text-align: left;
}


#logs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
}

#logs input[type=submit] {
    background-color: var(--primary);
    color: var(--on_primary);
}

#logs input[type=submit]:hover {
    background-color: var(--primary);
    color: var(--on_primary);
}