label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  

  .form_row{
    text-overflow: ellipsis;
  }
  .form_container {
    /* border-radius: 5px; */
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  .form_col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .form_col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  .form_col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .form_row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .form_col-25, .form_col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }