/* INPUT */

input[type=text], input[type=number], input[type=time],input[type=datetime-local] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=submit] {

  color: var( --on_surface);
  border: 1px solid #e0e0e0;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;

  /* width: 100%; */
  background-color: Transparent;

}

  input[type=submit]:hover {
  background-color: var(--primary);
  color: var( --on_primary);
}