.auth_body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: var(--main); */
  border-radius: 5px;
}

.auth_input[type=text], .auth_input[type=password], .auth_input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}   

.auth_img_container {
  text-align: center;
  margin: 10%;
  position: relative;
  border-radius: 5px;
  /*  */
  padding: 15%;

  background-image: var(--logo);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.auth_logo {
  width: 100%;
}

.auth_container {
  padding: 16px;
}

.auth_label {
  color: var(--on_surface);
}

.auth_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  padding: 20px;
  background-color: var(--surface);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 5%;
}

.auth_button_card {
  border: none;
  color: var( --on_surface);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  background-color: var(--surface);
  border: 1px solid #e0e0e0;

}

.auth_button_signup {
  border: none;
  color: var( --on_surface);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  background-color: var(--surface);
}

.auth_button_card:hover {
  background-color: var(--primary);
  color: var(--on_primary);
}
.auth_button_signup:hover {
  background-color: var(--primary);
  color: var(--on_primary);
}

@media screen and (max-width: 1080px) {
  .auth_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    padding: 20px;
    background-color: var(--surface);
    border-radius: 5px;
  }
}
