label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .auth_form_container {
    /* border-radius: 5px; */
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
 

  .auth_form_col-50 {
    float: left;
    width: 45%;
    margin-top: 6px;
    padding: 5px;
  }
  

  /* Clear floats after the columns */
  .auth_form_row:after {
    content: "";
    display: table;
    clear: both;
  }

  .auth_form_row{
      padding: 5px;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .auth_form_col-50, .auth_form_col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }