<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Авторизация</title>
</head>

<body class="auth_body">

    <div class="auth_card">

        <div class="auth_img_container">
            {{!-- <img class="auth_logo" src="../img/logo_light.png"> --}}
        </div>

        {{!-- TODO: Добавить центрирование по центру страницы --}}
        <div class="auth_container">

            {{#if error_messages }}
            {{!-- <div class="alert alert-danger">{{error_messages}}</div> --}}
            <input id="error_input" type="hidden" value="{{error_messages}}">
            {{/if}}

            <form id="signin" name="signin" method="post" action="signin">

                <label for="email"><b class="auth_label">Адрес электронной почты</b></label>
                <input class="auth_input" type="text" placeholder="Введите ваш email" name="email" required>

                <label for="psw"><b class="auth_label">Пароль</b></label>
                <input class="auth_input" type="password" placeholder="Введите ваш пароль" name="password" />

                <button class="auth_button_card" type="submit">Войти</button>

            </form>

            <button class="auth_button_signup" type="submit" onClick='location.href="/signup"'>Еще нет аккаунта? Зарегистрироваться</button>
        </div>


    </div>
</body>


<script>
    var error = document.getElementById("error_input").value;
    alert(error);
</script>

</html>