<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Добро пожаловать!</title>
</head>


<body class="auth_body">


    <div class="icon">

    </div>

    <div class="auth_card">

        <div class="auth_img_container">
            <img class="auth_logo">
        </div>




        <div class="auth_form_row">
            <div class="auth_form_col-50">
                <button class="auth_button_card" type="button" onClick='location.href="/signin"'>
                    <p> <img src="https://img.icons8.com/color/48/000000/login-rounded-right.png"></p>
                    <label><b class="auth_label">Войти</b></label>
                </button>
            </div>
            <div class="auth_form_col-50">
                <button class="auth_button_card" type="button" onClick='location.href="/signup"'>
                    <p><img src="https://img.icons8.com/color/48/000000/add-user-male--v1.png" /></p>
                    <label class="index_label"><b class="auth_label">Регистрация</b></label>
                </button>
            </div>
        </div>

    </div>
</body>

</html>