<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Регистрация</title>
</head>

<body class="auth_body">

    <div class="auth_card">

        <div class="auth_img_container">
        </div>

        <div class="auth_container">

            {{#if error_messages }}
            {{!-- <div class="alert alert-danger">{{error_messages}}</div> --}}
            <input id="error_input" type="hidden" value="{{error_messages}}">
            {{/if}}
            <form id="signup" name="signup" method="post" action="/signup">

                <label for="email"><b class="auth_label">Адрес электронной почты</b></label>
                <input class="auth_input" name="email" type="email" placeholder="Enter Email" />

                <label for="firstname"><b class="auth_label">Фамилия</b></label>
                <input class="auth_input" name="firstname" type="text" placeholder="Enter Firstname" />

                <label for="lastname"><b class="auth_label">Имя</b></label>
                <input class="auth_input" name="lastname" type="text" placeholder="Enter Lastname" />

                <label for="username"><b class="auth_label">Имя пользователя</b></label>
                <input class="auth_input" name="username" type="text" placeholder="Enter Username" />

                <label for="password"><b class="auth_label">Пароль</b></label>
                <input class="auth_input" name="password" type="password" placeholder="Enter Password" />

                <button class="auth_button_card" type="submit">Зарегистрироваться</button>

            </form>
            <button class="auth_button_signup" type="submit" onClick='location.href="/signin"'>Уже есть аккаунт? Войти</button>
        </div>


    </div>
</body>
<script>
    var error = document.getElementById("error_input").value;
    alert(error);
</script>

</html>