<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Профиль</title>
</head>

<body>

    {{> sidenav}}

    <div id="main">
        <div class="topnav">
            <img class="topnav_img" src="https://img.icons8.com/color/96/000000/squared-menu.png" onclick="openNav()" />
            <h2>Профиль</h2>
        </div>

        {{!-- <div class="elevated_card">
            <div class="row">
                <div class="column">
                    <div class="outlined_card">
                        <h4> Outlined card</h4>
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="outlined_card">
                        <h4> Outlined card</h4>
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>

            </div>
        </div> --}}

        <div class="elevated_card">
            <div class="row">
                <div class="column">
                    <div class="outlined_card">
                        <h4> {{user.firstname}} {{user.lastname}}</h4>
                        <p class="profile_title"> {{user.username}}</p>
                        <p>Электронная почта: </p>
                        <p class="profile_title">{{user.email}}</p>
                        <p>Уникальный топик: </p>
                        <p class="profile_title">{{user.private_topic}}</p>
                    </div>
                </div>

                <div class="column">
                    <div class="outlined_card">
                        <div class="row">
                            <div class="column">
                                <img src="https://img.icons8.com/color/96/000000/raspberry-pi-zero.png" />
                                <p>Devices: {{device}}</p>
                                <input type="submit" value="Show devices" onClick='location.href="/device"'>
                            </div>
                            <div class="column">
                                <img src="https://img.icons8.com/color/96/000000/run-command.png" />
                                <p>Script: {{script}}</p>
                                <input type="submit" value="Show scripts" onClick='location.href="/script"'>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

</body>