<!DOCTYPE html>
<html>

<script type="application/javascript" src="/script//client.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Главная</title>
</head>

<body>

    {{> sidenav}}

    <div id="main">
        <div class="topnav">
            <img class="topnav_img" src="https://img.icons8.com/color/96/000000/squared-menu.png" onclick="openNav()" />
            <h2>Главная страница</h2>
        </div>
        <div class="elevated_card">
            <h4>Главная страница</h4>
            <div class="row">
                <div class="column">
                    <div class="outlined_card">
                        <h4>Для чего необходим этот сервис</h4>
                        <p>Text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="outlined_card">
                        <h4>Как пользоваться сервсом</h4>
                        <p>Text</p>
                    </div>
                </div>

            </div>
        </div>
</body>