<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Подробнее</title>
</head>

<body>

    {{> sidenav}}
    <div id="main">
        <div class="topnav">
            <img class="topnav_img" src="https://img.icons8.com/color/96/000000/squared-menu.png" onclick="openNav()" />

            <div class="topnav_functions">
                <input type="submit" value="Вернуться к устройствам" onClick='location.href="/logs"'>
            </div>

            <div class="topnav_title">
                <h2>Данные лога</h2>
            </div>
        </div>
        {{!-- <div class="elevated_card">
            <h4>Данные лога</h4>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice
                that
                we add a black see-through background-color to body when the sidenav is opened.</p>
        </div> --}}
        <div class="elevated_card">
            <h4>Диаграмма</h4>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>

        {{!-- {{> log_data_table}} --}}


        <input id="values" type="hidden" value={{values}}>
        <input id="datetime" type="hidden" value={{datetime}}>

        <script src="/script/Chart.js"></script>
        <script>

            // FIXME: Дата не в том формате
            var values = [];
            var datetime = [];

            values = document.getElementById('values').value;
            datetime = document.getElementById('datetime').value;

            var new_array_values = values.split(",");
            var new_array_datetime = datetime.split(",");

            console.log(new_array_values);
            console.log(new_array_datetime);

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: new_array_datetime,
                    datasets: [{
                        data: new_array_values,
                        borderColor: "#3e95cd",
                        fill: false
                    }]
                }
            });

        </script>
    </div>
</body>