<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Лог</title>
</head>

<body>

    {{> sidenav}}

    <div id="main">
        <div class="topnav">
            <img class="topnav_img" src="https://img.icons8.com/color/96/000000/squared-menu.png" onclick="openNav()" />

            <div class="topnav_title">
                <h2>Лог</h2>
            </div>
        </div>

        {{!-- <div class="elevated_card">
            <div class="row">
                <div class="column">
                    <div class="outlined_card">
                        <h4> Outlined card</h4>
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="outlined_card">
                        <h4> Outlined card</h4>
                        <p>Text</p>
                        <p>Text</p>
                        <p>Text</p>
                    </div>
                </div>

            </div>
        </div> --}}

        {{!-- {{>log_list_table}} --}}

        {{>log_list_cards}}

    </div>
</body>