<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/script/sidenav.js"></script>
    <title>Создание сценария</title>
</head>

<body>

    {{> sidenav}}

    <div id="main">


        <div class="topnav">

            <img class="topnav_img" src="https://img.icons8.com/color/96/000000/squared-menu.png" onclick="openNav()" />

            <div class="topnav_functions">
                <input type="submit" value="К списку сценариев" onClick='location.href="/script/"'>
            </div>

            <div class="topnav_title">
                <h2>Создание сценария</h2>
            </div>
        </div>

        {{!-- <div class="elevated_card">
            <h4>Create script page</h4>
            <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice
                that
                we add a black see-through background-color to body when the sidenav is opened.</p>
        </div> --}}

        {{>script_add_form}}

    </div>



</body>