<link rel="stylesheet" href="style_email.css" data-inline="data-inline">

<div class="row">
    <div class="column_left">
        <div class="outlined_card">
            <h4>👨‍🔧 Привет, {{name}}!</h4>
            <p>⚙️ Вы создали скрипт который уведомит вас о получении определенной информации от определенного
                устройства.</p>
            <p>📋 Если вы видите это сообщени, данные были получены.</p>

        </div>
    </div>
    <div class="column_right">
        <div class="outlined_card">
            <h4>⚠️ Подробная информация:</h4>
            <p>{{script.script_description}}</p>
            <p>{{script.script_if}}</p>
            <p>{{script.script_if_that}}</p>
        </div>
    </div>
</div>