<h4>Привет, {{name}}!</h4>
Вы создали скрипт который уведомит вас о получении определенной информации от определенного
устройства.
Если вы видите это сообщени, данные были получены.

<h4>Подробная информация: </h4>
[script_description]
[data]