.elevated_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: var(--surface);
    margin-top: 20px;
    color: var(--on_surface);
    border-radius: 5px;
    overflow-x: auto;
  }
  
  .outlined_card {
    text-align: left;
    font-family: arial;
    border-radius: 5px;
    overflow-x: auto;
    padding: 5%;
    border: 1px solid #e0e0e0;
    margin: 1%;
  }
  
  
  
  .column_right {
    float: right;
    width: 50%;
    /* Should be removed. Only for demonstration */
  }
  
  .column_left {
    float: left;
    width: 50%;
    /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }